<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link
    href="http://fonts.googleapis.com/css?family=Comfortaa"
    rel="stylesheet"
    type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Chat Application</title>

    <script src="socket.io.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="client.js"></script>
  </head>

  <body>
    <section>
      <div id="change_username">
        <input id="username" type="text" />
        <button id="send_username" type="button">Change username</button>
      </div>
      <div id="change_username">
        <select name="rooms" id="room">
          <option>Room 1</option>
          <option>Room 2</option>
          <option>Room 3</option>
        </select>
        <button id="send_roomid" type="button">Change room</button>
      </div>
      <div id="change_username">
        <button id="dip" type="button">Disconnect</button>
      </div>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>

    <section id="input_zone">
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align" type="button">
        Send
      </button>
    </section>
  </body>
</html>
